@import "css_for_all_pages/reset.css";
@import "css_for_all_pages/header_footer.css";

/*-----------------------------
   MAIN IMAGE
-----------------------------*/

.main__image_pc{
    width: 100%;
}


/*-----------------------------
   THINGS TO DO
-----------------------------*/

.things_to_do{
    text-align: center;
}

.things_to_do__title{
    padding: 100px 0 0;
    font-family: 'Saira Stencil One', cursive;
    font-size: 28px;
    color: #0051AF;
}

.things_to_do__description{
    padding: 28px 0 0;
    font-size: 20px;
}

.things_to_do__image{
    display: block;
    padding: 40px 0 0;
}

@media screen and (max-width: 1200px) {
    .things_to_do__title{
        padding: 40px 0 0;
        font-size: 24px;
    }

    .things_to_do__description{
        padding: 20px 0 0;
        font-size: 16px;
    }

    .things_to_do__image img{
        width: 800px;
    }
}

@media screen and (max-width: 500px) {
    .things_to_do__title{
        font-size: 20px;
    }

    .things_to_do__description{
        padding: 12px 20px 0;
        font-size: 16px;
    }

    .things_to_do__image{
        display: block;
        padding: 20px 0 0;
    }

    .things_to_do__image img{
        width: 380px;
    }
}


/*-----------------------------
   UPCOMING EVENT
-----------------------------*/

.upcoming_event{
    max-width: 1200px;
    margin: 0 auto;
}

.upcoming_event__title{
    padding: 80px 0 40px;
    font-family: 'Saira Stencil One', cursive;
    font-size: 28px;
    color: #0051AF;
}

.upcoming_event__article{
    padding: 0 0 40px;
    display: flex;
}

.upcoming_event__article:last-child{
    padding: 0 0 100px;
}

.article_text{
    padding: 0 0 0 28px;
}

.article_title{
    color: #0051AF;
    font-size: 24px;
    font-weight: 500;
}

.article_date{
    padding: 12px 0 0;
    color: #BDBDBD;
    font-size: 24px;
}

.article_description{
    padding: 16px 0 0;
    font-size: 20px;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    .upcoming_event{
        margin: 0 40px;
    }

    .article_image img{
        width: 280px;
    }

    .upcoming_event__title{
        padding: 40px 0 20px;
        font-size: 24px;
    }

    .article_title{
        font-size: 20px;
    }

    .article_date{
        font-size: 20px;
    }

    .article_description{
        padding: 16px 0 0;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width:500px) {
    .upcoming_event{
        margin: 0 20px;
    }

    .article_image img{
        width: 300px;
    }

    .upcoming_event__article{
        flex-flow: column;
        align-items: center;
    }

    .upcoming_event__title{
        font-size: 20px;
        text-align: center;
    }

    .article_text{
        width: 300px;
        padding: 0;
    }

    .article_title{
        padding: 12px 0 0;
        line-height: 24px;
    }

    .article_date{
        font-size: 16px;
    }

}
