
/*The calendar was made on the basis of the simple one https://www.webcodegeeks.com/javascript/javascript-calendar-example/, but deeply adjusted*/

.monthPre{
    color: gray;
    text-align: center;
}
.monthNow{
    color: black;
    text-align: center;
    width: 60px;
    font-family: 'Roboto', sans-serif;
}

.dayNow{
    background-color: #7BC8FF;
    text-align: center;
    border-radius: 50%;
}

.dayNow:hover {
    background-color: #D4D4D4;
    cursor: pointer;
}

#calendar {
    width: 100%;
    margin: 1rem 0 0;
}

#calendar table {
    table-layout: fixed;
    width: 320px;
    height: 380px;
}

.calendar {
    margin: 0 auto;
}

.calendar td{
    padding: .5rem .8rem;
    width: 80px;
    line-height: 2;
}
.yearNow th{
    text-align: left;
    font-size: 1.75rem;
    color: #0051AF;
}

.monthNow:hover{
    background-color: #D4D4D4;
    border-radius: 50%;
    cursor: pointer;
}

.dayNames{
    color: #929292;
    text-align: center;
}

.calendar .dayNames td {
    padding: 2rem 0;
    font-size: 1.3rem;
}

.monthLeft, .monthRight {
    cursor: pointer;
}

.eventMark {
    color: red;
}

.rotate {
    /*transform: rotateY(0.5turn);*/
    transition: all .3s ease-in;
}

.eventTag {
    /*transform: rotateY(0.5turn);*/
    display: block;
    position: relative;
    top: 20px;
    transition: transform 0s;
    height: 450px;
}

.closeButton {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .calendar {
        min-width: 320px;
        padding: 0;
    }
}